* {
	box-sizing: border-box;
}

@font-face {
	font-family: Ostrich;
	font-weight: bold;
	src: url("../font/OstrichSans-Black.otf") format("opentype");
}

body {
	background: #2a2c2b url('../img/bg.png');
	margin: 0;
	padding: 0;
	color: #bdc3c7;
	overflow: hidden;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

.purple {
	color: #b280c7;
}

.console-text {
	font-family: "Courier New", Courier, monospace;
}

.center-logo {
	width: 350px;
	margin: 0 auto 50px;
	display: block;
	margin-top: 200px;
}

.tagline {
	width: 450px;
	display: block;
	margin: 50px auto;
	font-weight: bold;
	margin-top: 20px;
	font-size: 2.15em;
	line-height: 50px;
}

.fb-button {
	background-image: url("../img/login-facebook.png");
	background-repeat: no-repeat;
	cursor: pointer;
	width: 275px;
	height: 59px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.cursor-holder {
	width: 10px;
	display: inline-block;
	text-align: center;
}

.center-title {
	width: 100%;
	text-align: center;
	margin-top: 130px
}

.center-subtitle {
	text-align: center;
	width: 100%;
	margin-top: 20px;
}

.choice-buttons {
	width: 100%;
	text-align: center;
	height: 50px;
}

.left-space {
	margin-left: 30px;
}

.btn {
	padding: 30px;
	font-weight: bold;
	font-family: Ostrich;
	font-size: 2em;
	display: inline-block;
}

.btn:hover {
	cursor: pointer;
}

.btn-yellow {
	background: #fffcc4;
	color: #2a2c2b;
}

.btn-purple {
	background: #b280c7;
	color: #2a2c2b;
}

.top-bar {
	height: 50px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;

}

.top-profile {
	float: right;
	width: 50px;
	height: 50px;
	position: relative;
}

.top-profile img {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}


.top-profile:hover {
	cursor: pointer;
}

.overlay {
    opacity: .4;
    background-color: black;
    position: absolute;
    left: 0; top: 0; height: 50px; width: 50px;
}

.back-button-top {
	background: url('../img/back.png') center no-repeat;
	width: 50px;
	height: 50px;
	float: right;
	margin-right: 20px;
	display: block;
}

.back-button-top:hover {
	cursor: pointer;
}

.navi-back-button {
	width: 25px;
	height: 25px;
	float: right;
	margin-top: 10px;
	margin-right: 20px;
	display: block;
}

.navi-back-button:hover {
	cursor: pointer;
}

#flash-message {
	background: #2ecc71;
	width: 30%;
	padding: 40px;
	font-weight: bold;
	text-align: center;
	color: #2a2c2b;
	position: absolute; top:100px;left:50%;
	margin-left: -15%;
	z-index: 20;
}
