@font-face {
	font-family: Ostrich;
	font-weight: bold;
	src: url("../font/OstrichSans-Black.otf") format("opentype");
}

body {
	background: #2a2c2b;
	margin: 0;
	padding: 0;
	font-family: "Courier New", Courier, monospace;
	color: #bdc3c7;
}

.purple {
	color: #b280c7;
}

.center-logo {
	width: 450px;
	margin: 0 auto;
	display: block;
	margin-top: 200px;
}

.tagline {
	width: 450px;
	display: block;
	margin: 0 auto;
	font-weight: bold;
	margin-top: 20px;
	font-size: 1.20em;
}

.fb-button {
	background-image: url("../img/login-facebook.png");
	background-repeat: no-repeat;
	cursor: pointer;
	width: 275px;
	height: 59px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

.cursor-holder {
	width: 10px;
	display: inline-block;
	text-align: center;
}

.center-title {
	width: 100%;
	text-align: center;
	margin-top: 200px
}

.choice-buttons {
	width: 100%;
	text-align: center;
	height: 50px;
}

.left-space {
	margin-left: 30px;
}

.btn {
	padding: 30px;
	font-weight: bold;
	font-family: Ostrich;
	font-size: 2em;
	display: inline-block;
}

.btn:hover {
	cursor: pointer;
}

.btn-yellow {
	background: #f1c40f;
	color: #2a2c2b;
}

.btn-purple {
	background: #b280c7;
	color: #2a2c2b;
}