html, body, #app, #code {
  height: 100%;
}

input:focus, *:focus {
  outline: 0;
}

html, body {
  margin: 0;
  min-width: 800px;
  min-height: 400px;
}

#firepad-container {
  width: 66.67%;
  min-width: 500px;
  height: 100%;
  float: left;
}

#navi-header {
  line-height: 44px;
}

#navi-header-image {
  height: 23px;
  margin-top: 10px;
  margin-left: 10px;
}

#navi-header-profile {
  float: right;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  margin-top: 3px;
  border-radius: 100%
}

#chat {
  width: 33.33%;
  height: 100%;
  background-color: #272C3D;
  float: left;
  overflow: scroll;
}

#chat-input {
  width: 33.33%;
  height: 100%;
  background-color: #151618;
  float: left;
  text-align: center;
}

#chat-input-box {
  border: none;
  background-color: #151618;
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 13px;
  padding: 7px;
}

.chat-name-one {
  margin-right: 10px;
  color: #76CC14;
}

.chat-name-two {
  margin-right: 10px;
  color: #FF4B19;
}

.chat-message {
  padding-left: 8px;
  margin: 8px 0;
}

#navi-header {
  height: 44px;
  width: 100%;
  background-color: #151618;
}

#code-bottom-bar {
  height: 44px;
  position: absolute;
  bottom: 0;
  z-index: 1000;
  width: 100%;
}

#code-tests {
  width: 66.67%;
  height: 100%;
  background-color: #151618;
  float: left;
  line-height: 51px;
}

.test-row {
  display: inline;
}

#submit-button {
  margin: 0;
	padding: 10px 21px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	color: #eee;
  height: 100%;
  border: none;
  float: right;
  background-color: #272C3D;
}

#submit-button:hover {
  background-color: #202533;
}

#submit-button:active {
  background-color: #1a1d28;
}

.CodeMirror {
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

#test-pass, #test-fail {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 13px;
}

#test-fail {
  background-color: #fe6152;
}

#test-pass {
  background-color: #1ac328;
}
