html, body, #app, #code, .firepad {
  height: 100%;
}

html, body {
  margin: 0;
  min-width: 800px;
}

#firepad-container {
  width: 66.67%;
  min-width: 500px;
  height: 90%;
  float: left;
}

#chat {
  width: 33.33%;
  height: 100%;
  background-color: #1a252f;
  float: left;
}

#code-bottom-bar {
  background-color: red;
  /* position: absolute; */
  height: 10%;
  width: 66.67%;
  /* bottom: 0; */
}

.CodeMirror {
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
